@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #c7f9cc;
  --secondary: #80ed99;
  --tertiary: #57cc99;
  --light-dark: #38a3a5;
  --dark: #22577a;
  --border-radius: .3rem;
}

* {
  margin: 0;
  padding: 0;
  transition: .15s ease-in-out;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: var(--light-dark);
  line-height: 1.5;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 10px;
  color: var(--dark);
  line-height: 1.25;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

a,
a:active,
a:focus {
    color: var(--tertiary);
    text-decoration: wavy underline;
    -webkit-text-decoration: wavy underline;
    font-weight: bold;
}

a:hover {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}

header {
  background-color: var(--light-dark);
}

header h1 {
  padding: 0.7em;
}

nav ul {
  padding: 15px 0;
}

nav ul li .navlink,
nav ul li .navlink:active,
nav ul li .navlink:focus {
  color: var(--primary);
  text-decoration: none;
  padding: 5px 15px;
  font-weight: bold;
}

nav ul li .navlink:hover {
  color: var(--primary);
  text-decoration: wavy underline;
  -webkit-text-decoration: wavy underline;
  font-weight: bold;
}
  
p {
    font-size: 1.2rem;
}

footer {
  text-align: center;
  background-color: var(--light-dark);
  color: var(--primary);
  padding: 40px 0;
}

footer a,
footer a:active,
footer a:focus {
  color: var(--primary);
}

footer a:hover {
  color: var(--tertiary);
}

footer a {
  padding: 0 10px;
}